<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>about</title>
  </head>
  <body>
    <div class="main">
    {{>header}}
    <p> <h2> This app is created by Gaurav Suhil.It uses node.js at its root and gets data from mapbox.com and darksky.net</h2> </p>
    <img src="/img/team.jpg">
  </div>
      {{>footer}}
  </body>
</html>
